.parent {
  height: calc(100vh - 180px);
  width: 100vw; /*calc(100vw - 16px);*/
  margin: 0;
  padding: 0;

}
.row {
  @apply
    w-full
    flex
    flex-row
    justify-between
    items-center
  ;
  padding-right: 8px;
}

.item {
  width: 300px;
  height: 167px;
  margin-right: 8px;
}

/* necessary forceful overrides for experimental autosizer */
.parent > div {
  width: 100% !important;
}

.list {
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  width: 100% !important;
}
